body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


div {
    display: block;
}

.content {
    width: 100%;
}

.new-post-box {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    height: 135px;
    border: 1px black solid;
    border-radius: 10px;
}

.new-post-inner textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 5em;
    resize: none;
    padding: 5px;
    border-radius: 10px;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 1pt 1pt #A9A9A9;
}

.new-post-inner button {
    float: right;
    position: relative;
}

.post-content {
    width: 100%;
    margin-top:20px;
}

.post{
    width:400px;
    margin: 10px auto;
    padding: 10px;
    height:170px ;
    border: 1px black solid;
    border-radius: 10px;
}


.new-new-post-inner buttonplus {
    float: left;
    position: relative;
    background-color:lightgreen;
    height:35px;
    width:35px;
}

.new-new-post-inner buttonminus {
    float: left;
    position: relative;
    background-color: indianred;
    height:35px;
    width:35px;
}
.new-new-post-inner textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 5em;
    resize: none;
    padding: 5px;
    border-radius: 10px;
}

.paragraph{
    height:90px;
}

.user{
    font-weight:bold;
    
    
}

.data{
    float:right;
    font-size:smaller;
}
