<div class="post-content">
    <div class="post">
        <div class="new-new-post-inner">
            <div class="data"> 21:37 15.pazdziernik.2015</div>
            <div class="user">Michał Biauek</div>

            <div class="paragraph">
                fafafsafaefaefaefaefas dasd
                sdasdas
                dasdas
            </div>
            <button id="plus" class="btn btn-default">+</button>
            <button id="minus" class="btn btn-default">-</button>
        </div>
    </div>
</div>
