@model string
@{
    ViewBag.Title = "Home Page";
}
<!--- gg -->
<div class="content">
    <div class="new-post-box">
        <div class="new-post-inner">
            @using (Ajax.BeginForm("AddPost", "Home", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "PostForm" }))
            {
                @Html.AntiForgeryToken()
                <textarea placeholder="Wrzuc paste o serwerowni" id="content" name="content"></textarea>
                <button class="btn btn-default btnSubmitPost">Wrzuc paste</button>
            }
            
        </div>
    </div>
</div>


<div class="post-content">
    <div class="post">
        <div class="new-new-post-inner">
            <div class="data"> 21:37 15.pazdziernik.2015</div>
            <div class="user">Michał Biauek</div>

            <div class="paragraph">
                fafafsafaefaefaefaefas dasd
                sdasdas
                dasdas
            </div>
            <buttonplus class="btn btn-default">+</buttonplus>
            <buttonminus class="btn btn-default">-</buttonminus>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" id="privatekeymodal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Twój klucz prywatny - zapisz go i nikomu nie pokazuj</h4>
                </div>
                <div class="modal-body">
                    <p class="privateKey">@Model</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $("#privatekeymodal").modal("show");
    });

    $("#btnSubmitPost").click(function() {
        $("#PostForm").submit();
    });
    </script>
}
