@using Microsoft.AspNet.Identity
@model string
@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="new-post-box">
        <div class="new-post-inner">
            @using (Ajax.BeginForm("AddPost", "Home", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "PostForm" }))
            {
                @Html.AntiForgeryToken()
                <textarea placeholder="Wrzuc paste o serwerowni" id="content" name="content"></textarea>
                <button class="btn btn-default btnSubmitPost">Wrzuc paste</button>
            }
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" id="privatekeymodal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Twój klucz prywatny - zapisz go i nikomu nie pokazuj</h4>
                </div>
                <div class="modal-body">
                    <p class="privateKey">@Model</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $("#privatekeymodal").modal("show");
    });
</script>
}
else if (Session["privateKey"] == null)
{
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" id="privatekeymodal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Wprowadź twój klucz prywatny</h4>
                </div>
                <div class="modal-body">
                    @using (Ajax.BeginForm("AddPrivateKey", "Home", null, new AjaxOptions {HttpMethod = "POST"}, new {id = "PrivateKeyForm"}))
                    {
                        @Html.AntiForgeryToken()
                        <textarea placeholder="Wprowadź twój klucz prywatny" id="privateKey" name="privateKey"></textarea>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnSubmit">Akceptuj</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#privatekeymodal").modal("show");
            $("#btnSubmit").click(function() {
                $("#PrivateKeyForm").submit();
            });
        });
    </script>
}
else
{
    @Html.Action("GetPosts", "Home", new { currentId = User.Identity.GetUserId()})
}
<script>
    $("#btnSubmitPost").click(function () {
        $("#PostForm").submit();
    });
</script>
