@{
    ViewBag.Title = "Home Page";
}
<!--- gg -->
<div class="content">
    <div class="new-post-box">
        <div class="new-post-inner">
            <textarea placeholder="Wrzuc paste o serwerowni"></textarea>
            <button class="btn btn-default">Wrzuc paste</button>
        </div>
    </div>
</div>
            