@{
    ViewBag.Title = "Home Page";
}

<div class="ramka2">
    <div class="ramka1">
        <textarea rows="2" cols="100" placeholder=" Lecimy kurwa tutaj"></textarea>
        <button type="button">Button</button>
    </div>
</div>