@{
    ViewBag.Title = "Home Page";
}

<div class="ramka1">
    <div class="ramka2">
        <textarea rows="2" cols="100" placeholder="Wrzuc paste o serwerowni"></textarea>
        <button type="button" class="btn btn-default">Wrzuc paste</button>
    </div>
</div>