@{
    ViewBag.Title = "Home Page";
}
<!--- gg -->
<div class="content">
    <div class="new-post-box">
        <div class="new-post-inner">
            <textarea placeholder="Wrzuc paste o serwerowni"></textarea>
            <button class="btn btn-default">Wrzuc paste</button>
        </div>
    </div>
</div>
            

<div class="post-content">
    <div class="post">
        <div class="new-new-post-inner">
            <div class="data"> 21:37 15.pazdziernik.2015</div>
            <div class="user">Michał Biauek</div>

            <div class="paragraph">
                
                    fafafsafaefaefaefaefas dasd
                    sdasdas
                    dasdas



                
            </div>
            <buttonplus class="btn btn-default">+</buttonplus>
            <buttonminus class="btn btn-default">-</buttonminus>
        </div>
    </div>
</div>